<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/inicio"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inicio"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.UroCareApp"
        tools:targetApi="31">

        <activity
            android:name=".chatbot.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".paciente.ConsejosAlimentariosPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".TermsConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".medico.HomeMedico"
            android:exported="true" />
        <activity
            android:name=".paciente.PantallaInfo"
            android:exported="true" />
        <activity
            android:name=".paciente.CuidadosPostcirujia"
            android:exported="true" />
        <activity
            android:name=".paciente.ConsejosAlimentarios"
            android:exported="true" />
        <activity
            android:name=".SeguimientoDeHabitos"
            android:exported="true" />
        <activity
            android:name=".paciente.PreparacionPreoperatorioSecundario"
            android:exported="true" />
        <activity
            android:name=".paciente.PreparacionPostoperatorioSecundario"
            android:exported="true" />
        <activity
            android:name=".paciente.PerfilPaciente"
            android:exported="true" />

        <activity
            android:name=".paciente.HomePaciente"
            android:exported="true" />
        <activity
            android:name=".AuthActivity"
            android:exported="true" />
        <activity
            android:name=".paciente.RegistroPaciente"
            android:exported="true">
        </activity>
        <activity
            android:name=".medico.PerfilMedico"
            android:exported="true">
        </activity>
        <activity
            android:name=".paciente.HabitosPaciente"
            android:exported="true">
        </activity>
        <activity
            android:name=".medico.ListaPacientes"
            android:exported="true">
        </activity>
        <activity
            android:name=".medico.GraficasPaciente"
            android:exported="true">
        </activity>
        <activity
            android:name=".medico.CalendarActivityMedico"
            android:exported="true">
        </activity>
        <activity
            android:name=".medico.ChangePassActivityMedico"
            android:exported="true">
        </activity>
    </application>
</manifest>