<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/inicio"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inicio"
        android:supportsRtl="true"
        android:theme="@style/Theme.UroCareApp"
        tools:targetApi="31">
        <activity
            android:name=".ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".TermsConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPassActivity"
            android:name=".medico.ConsejosAlimentariosMedico"
            android:exported="false" />
        <!-- Actividad principal de la app -->
        <activity
            android:name=".FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad de HomeMedico -->
        <activity
            android:name=".medico.HomeMedico"
            android:exported="true" /> <!-- Actividad de Calendario -->
        <activity
            android:name=".CalendarActivity"
            android:exported="false" /> <!-- Actividad de Términos y Condiciones -->
        <activity
            android:name=".TermsConditionsActivity"
            android:exported="false" /> <!-- Actividad de Restablecimiento de Contraseña -->
        <activity
            android:name=".ResetPassActivity"
            android:exported="false" /> <!-- Actividad de Pantalla Info -->
        <activity
            android:name=".PantallaInfo"
            android:exported="true"></activity>
        <activity
            android:name=".CuidadosPostcirujia"
            android:exported="true"></activity>
        <activity
            android:name=".PerfilPaciente"
            android:exported="true"></activity>
        <activity
            android:name=".PerfilPaciente"
            android:exported="true" /> <!-- Actividad Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Actividad de HomePaciente -->
        <activity
            android:name=".HomePaciente"
            android:exported="true" /> <!-- Actividad de Autenticación -->
        <activity
            android:name=".AuthActivity"
            android:exported="true" /> <!-- Otras actividades necesarias -->
        <activity
            android:name=".PreparacionOperacionActivity"
            android:exported="false" />
        <activity
            android:name=".CuidadosPostquirurgicosActivity"
            android:exported="false" />
        <activity
            android:name=".ConsejosAlimentariosActivity"
            android:exported="false" />
        <activity
            android:name=".ControlHabitosActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarioMedicoActivity"
            android:exported="false" />
    </application>

</manifest>